.avail-button{
  border: none;
  padding: 10px 15px;
  color: white;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  font-weight: bold;
  border-radius: 50px;
  background-color: rgb(0, 199, 156);
  box-shadow: 0px 0px 3px white;
  transition: 0.2s;
  cursor: pointer;
}

.avail-button:hover{
  color: rgb(0, 199, 156);
  background-color: white;
  box-shadow: 0px 0px 0px white;
}

.avail-page{
  position: fixed;
  display: none;
  
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px black;
  width: 500px;
  height: 600px;

  border-radius: 30px;
  
  z-index: 200;
}

.address{
  display: flex;
  flex-direction: row;
}
.avail-jasonet{
  color: black;
  margin:10px 0px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.avail-jasonet h1{
  margin-top: 30px;
  margin-bottom: 0px;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 50px;
  margin-top: 30px;
}

.labels{
  display: flex;
}
.date-size{
  width: 304px;
  height: 30px;
  padding: 6px;
}
.submit-btn{
  border: none;
  background-color: rgb(94, 142, 185);
  color: white;

  font-weight: bold;
  font-size: 15px;

  padding: 10px 15px;
  border-radius: 30px;
  transition: 0.2s;
}

.submit-btn:hover{
  color: rgb(94, 142, 185);
  background-color: white;
}
.btn-field{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 20px;
  width: 390px;
}

.avail-close{
  position: absolute;
  right: 15px;
  top: 10px;
  color: white;
  background-color: rgb(23, 23, 41);
  box-shadow: 0px 0px 2px black;
  text-align: center;
  font-size: 30px;
  padding: 0px 10px;
  padding-bottom: 5px;
  border-radius:30px;
  cursor: pointer;
}

.avail-close:hover{
  color: rgb(178, 74, 74);
}